@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
  background: #000;
  height: 50vh;
  display: grid;
  place-items: center;
}

.circle{
  height:200px;
  width: 200px;
  border-radius: 50%;
  background-color:#ff9540 ;
  position: relative;
  box-shadow: 0 0 10px #ff4500,
              0 0 40px #ff4500,
              0 0 80px #ff4500;
}

.circle::after{
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #000;
  animation: eclipse 5s linear infinite alternate;
}

@keyframes eclipse {
  0% {
    transform: translate(-50px,50px)
    scale(0.9);
  }
  50%,75%{
    transform: translate(0px,0px)
    scale(1.02);
    box-shadow: 0 0 40px #f9f3f2,
                0 0 80px 8px #c79388;
  }
  100%{
    transform: translate(50px,-50px)
    scale(0.9);
    box-shadow: none;
  }
}


.text{
  text-align: center;
  font-family: Courier;
  margin-top: 100px;
  padding: 20px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.text::after {
  content: "|";
  margin-left: 5px;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;  }

}